<nav class="navbar-top navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="cursor: pointer" [routerLink]="['']">
      <img src="/assets/images/clone_box_logo.svg" alt="clone_box_logo" width="120" height="70">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav text-center">
        <a class="nav-link active" aria-current="page">Home</a>
        <a class="nav-link">Products</a>
        <a class="nav-link">Calculator</a>
        <a *ngIf="!isAuthenticated" class="nav-link" routerLink="auth">Authentication</a>
        <a *ngIf="isAuthenticated" class="nav-link">Command History</a>
      </div>
    </div>

    <svg *ngIf="isAuthenticated" (click)="onLogOut()" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-right" style="cursor: pointer" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
      <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
    </svg>
  </div>
</nav>
