<div class="row">
  <div class="col-12" style="margin-top: 15vh;">
    <div class="row justify-content-center">
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div class="col-md-5 col-lg-4 col-xl-3 rounded p-5 shadow-lg" style="background-color: white;" *ngIf="!isLoading">
        <form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="text-center">
          <img src="/assets/images/clone_box_logo_rounded.svg" alt="clone_box_logo" width="250" height="250" class="" style="position: absolute; top: 12vh; bottom: 0; left: 0; right: 0; margin: 0 auto;">
          <h1 class="h3 mb-3 fw-normal py-5">{{ isLoginMode ? ('PLEASE_LOG_IN' | translate) : ('PLEASE_SIGN_UP' | translate) }}</h1>

          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="name@example.com"
              formControlName="email"
              [ngClass]="{'is-invalid': authForm.get('email').touched && authForm.get('email').invalid, 'is-valid': authForm.get('email').touched && authForm.get('email').valid}">
            <label for="email">{{ 'EMAIL_ADRESS' | translate }}</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              formControlName="password"
              [ngClass]="{'is-invalid': authForm.get('password').touched && authForm.get('password').invalid, 'is-valid': authForm.get('password').touched && authForm.get('password').valid}">
            <label for="password">{{ 'PASSWORD' | translate }}</label>
          </div>
          <div *ngIf="isLoginMode" class="checkbox mt-2 text-start" style="padding-left: 10px;">
            <label>
              <input type="checkbox" value="remember-me"> {{ 'REMEMBER_ME' | translate }}
            </label>
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger my-4" role="alert">
            <div class="d-flex justify-content-between"><i class="bi bi-exclamation-triangle-fill"></i>{{ errorMessage | translate }}<i (click)="closeError()" class="bi bi-x" style="cursor: pointer;"></i></div>
          </div>
          <hr>
          <a style="cursor: pointer; color: var(--dark-grey)" (click)="onSwitchMode()">{{ isLoginMode ? ('NO_ACC_SIGN_UP' | translate) : ('YES_ACC_LOG_IN' | translate) }}</a>
          <hr>
          <button class="w-100 btn btn-lg btn-secondary" type="submit" [disabled]="authForm.invalid">{{ isLoginMode ? ('LOGIN_BUTTON' | translate) : ('SIGN_UP_BUTTON' | translate) }}</button>
          <div class="my-2">
            {{ 'OR' | translate }}
          </div>
          <button class="w-70 btn btn-lg btn-outline-secondary d-inline-flex align-items-center justify-content-start" (click)="onGoogle()">
            <img src="./assets/images/google_icon.svg" alt="" width="30">
            <span style="padding-left: 10px;">{{ 'CONTINUE_WITH_GOOGLE' | translate }}</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
