/* You can add global styles to this file, and also import other style files */
:root {
  --dark-grey: #283132;
  --light-grey: rgba(0, 0, 0, 0.3);
  --cream: #F8E7D7;
  --light-cream: #FCF4ED;
  --background-grey: #EAEAEA;
}

.landing-page {
  font-family: 'sofia-pro-semibold', sans-serif;
  /*background-color: #FCF4ED;*/
}

.navbar-top {
  font-family: 'cubano', sans-serif;
  --logo-color: #283132;
}




